.tasks {
  display: flex;
  position: relative;
  margin-top: 5vh;
  padding-top: 40px;
}

.tasks span {
  line-height: 50vh;
  font-size: 1.2em;
}

.skeleton {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  width: 100%;
}
.skeletonDevice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  width: 100%;
}

@media (max-width: 768px) {
  .tasks {
    flex-direction: column;
  }
}
