.group + .group {
  border-left: solid 3px rgb(80, 80, 80);
}
.group {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px; /* all items with equal width */
  position: relative;
  padding: 0 20px;
}

.group > div {
  display: flex;
  flex-direction: column;
}

.group > h3 {
  font-size: 1.7em;
  align-self: center;
}
