.tasksPage {
  display: flex;
  flex-direction: column;
  margin: 2% 4%;
  gap: 50px;
  font-size: var(--global-font-medium);
}
.tasksContainer {
  display: flex;
  flex-direction: column;
}
.tasksPage h2 {
  position: relative;
  margin-bottom: 3%;
  padding-top: 7px;
  font-size: 2em;
  text-align: center;
  background: -webkit-linear-gradient(45deg, #7517b4, #b61f59 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.tasksContainer h2:before {
  content: '';
  position: absolute;
  width: 50%;
  left: 4%;
  top: 0;
  border-top: 2px solid #4e005e;
}
.tasks,
.tasks > div {
  display: flex;
  flex-direction: column;
}

.tasks > div > div {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}
.tasks > div > h3 {
  align-self: center;
}
.tasks span {
  line-height: 50vh;
  font-size: 1.2em;
}
.selectPriority {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  text-align: center;
}
.selectPriority > div {
  display: flex;
  gap: 5vw;
}

@media (max-width: 768px) {
  .tasks {
    align-self: stretch;
    flex-direction: column;
  }
}
