.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2.5% 0;
  padding: 1.2em;
  border-radius: 9px 5px 9px 5px;
  border: 4px solid transparent;
  box-shadow: 1px 1px 3px black;
  color: white;
  max-width: min(500px, 25%);
  min-width: 210px;
}
.card > * {
  margin-bottom: 10px;
}
.card > div {
  display: flex;
  gap: 20px;
}
.card > :last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  width: var(--global-font-doubleMedium);
  height: var(--global-font-doubleMedium);
  font-size: var(--global-font-medium);
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 0 3px black;
  text-shadow: 0 0 2px rgb(230, 230, 230);
  color: rgb(236, 236, 236);
  background-color: rgb(212, 50, 50);
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}
.card > :last-child:active {
  transform: scale(0.95);
  opacity: 0.9;
}
@media (max-width: 768px) {
  .card {
    max-width: unset;
  }
}
